In [2]:
print('''Twinkle, twinkle, 
little star, \n\tHow 
I wonder what 
you are! \n\t\tUp 
above the world so high, 
\n\t\tLike a diamond in the sky. 
\nTwinkle, twinkle, little star, 
\n\tHow I wonder what you are!''')

Twinkle, twinkle,
little star,
	How
I wonder what
you are!
		Up
above the world so high,

		Like a diamond in the sky.

Twinkle, twinkle, little star,

	How I wonder what you are!

In [7]:
import sys
print("Python Version and version information",sys.version,sys.version_info)

Python Version and version information 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0] sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)

In [10]:
import datetime
datetime.datetime.now()

datetime.datetime(2021, 12, 28, 20, 2, 47, 102617)

In [12]:
PI = 3.14
r=int(input("Enter the radius of a circle:- "))
area=PI*r**2
print("Area of a circle = ",area)

Enter the radius of a circle:- 2
Area of a circle =  12.56

In [14]:
f_n=input("Enter First Name ")
l_n=input("Enter Last Name ")
print(l_n+" "+f_n)

Enter First Name Ali
Enter Last Name Khan
Khan Ali

In [17]:
a=int(input("Enter Number 1 "))
b=int(input("Enter Number 2 "))
print("Sum of Number 1 and Number 2 is:- ",int(a+b))

Enter Number 1 4
Enter Number 2 4
Sum of Number 1 and Number 2 is:-  8